language: objective-c

xcode_project: DuckDuckGoSwiftly.xcodeproj
xcode_scheme: DuckDuckGoSwiftly
osx_image: xcode8.3
xcode_sdk: iphonesimulator10.3

before_install:
    - swift package generate-xcodeproj

script:
    - xcodebuild clean build test -project DuckDuckGoSwiftly.xcodeproj -scheme DuckDuckGoSwiftly
